<html>
<head>
	<title>Add Item </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/allpages.css" rel="stylesheet">

</head>
<body>
	<div class="container">

	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="../grocery">

      			<div class = "pull-left">
        			<img alt="Brand" src= "http://i.imgur.com/CeN9Hli.png">
        		</div>
        		</a>

			</div>
  		</div>
	</nav>
		
		<h3>Add Item</h3>

		<div class="addForm" style="clear: both;">
			<form id="addGroceryItemForm" role="form" method="get" action="/addForm">
				
				<div class="row no-gutter">
  					<div class="col-xs-6 col-md-8">
  						<div class="form-group">
	      					<input type="text" class="form-control" id="name" placeholder="Name" name="name">
	    				</div>
					</div>
  					

  					<div class="col-xs-3 col-md-2">
  						<div class="form-group quantity">
	      				<input type="text" class="form-control" id="quantity" placeholder="Quantity (e.g. 5)" name="quantity">
						
	    				</div>
  					</div>
  					
  					<div class="col-xs-3 col-md-2">
  						<input type="text" class="form-control" id="units" placeholder="Units" name="units">
	    			</div>
				</div>

				<input type="submit" id="submit" class="btn btn-success" value="Add"></input>

				<a href="grocery" class="btn btn-danger" role="button">Cancel</a>
	    				
	    		<input type="reset" id="clear" class="btn btn-default" value="Clear"></input>
	    		




	    		
	    	


			</form>
		</div>
	</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<!-- <script src="/js/addItem.js"></script> -->
</body>
</html>
