<html>
<head>
	<title>Bananas</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8">

	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<h1>Grocery Item</h1>

		<!-- Headers -->
		<h5><a href="/index">Go Home</a> <a href="../grocery"> Back to Grocery List </a></h5>

		<h3> Bananas </h3>
		<img src="http://www.heartandsoul.com/wp-content/uploads/2015/06/bananas-good-for-sleep-400x400.jpg">
		<h5> Quantity: 3 (+/-) </h5>


	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/bootstrap.js"></script>
</body>
</html>
