<html>
<head>
	<title>Calorie Tracker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/allpages.css" rel="stylesheet">

</head>
<body>

	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="../grocery">
        			<img alt="Brand" src= "http://i.imgur.com/jCyrAuq.png">
        		</a>

        		<a class="navbar-brand" href="../inventory">
      				<img alt="Brand" src= "http://i.imgur.com/syZdxMQ.png">
      			</a>

      			<a class= "navbar-brand" href="../mealplanning">
        			<img alt="Brand" src= "http://i.imgur.com/nddBSj3.png">
        		</a>

        		<a class="navbar-brand" href="../calorietracking">
        			<img alt="Brand" src= "http://i.imgur.com/eSySeun.png">
        		</a>
			</div>
  		</div>
	</nav>


	<div class="container">
		<h3>Calorie Tracker</h3>

	</div>

	<div id="eatenList"></div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/calories.js"></script>
</body>
</html>
