<html>
<head>
	<title>Congrats!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8">

	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/allpages.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="../grocery">
        			<img alt="Brand" src= "http://i.imgur.com/BVBZ0xt.png">
        		</a>

        		<a class="navbar-brand" href="../inventory">
      				<img alt="Brand" src= "http://i.imgur.com/vq0fdZ0.png">
      			</a>

      			<a class= "navbar-brand" href="../mealplanning">
        			<img alt="Brand" src= "http://i.imgur.com/KiLHqPy.png">
        		</a>
			</div>
  		</div>
	</nav>

	<h3 align="center">Congrats!</h3>
	<div class="container" id="main-div">
		<h5> Congratulations on successfully making your recipe!</h5>
	</div>
	<div align="center" id="alignMe">
		<button id="imDone" align="center" type="button" class="btn btn-success">
			Go Home
		</button>
	</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/congrats.js"></script>

</body>
</html>
