<html>
<head>
	<title>Grocery List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/allpages.css" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="../grocery">
        			<img alt="Brand" src= "http://i.imgur.com/aJoJubM.png">
        		</a>

        		<a class="navbar-brand" href="../inventory">
      				<img alt="Brand" src= "http://i.imgur.com/vq0fdZ0.png">
      			</a>

      			<a class="navbar-brand" href="../mealplanning">
        			<img alt="Brand" src= "http://i.imgur.com/mTdmiOg.png">
        		</a>
			</div>
  		</div>
	</nav>



	<div class="container">
		<div class="row">
		 	<div class="col-xs-9 col-md-8"><h4>Grocery List</h4></div>
		 	<div class="col-xs-3 col-md-4"><a href="addItem" class="btn btn-success" role="button">+</a></div>
		</div>
		<ul class="list-group">
			<div id="groceryList"></div>
		</ul>
		<div id="buttons">

			<div class = "row">

			<div class = "col-xs-4 col-md-5">
				<input display="none" type="button" class = "btn btn-danger btn-lg" id="deleteFromList" onClick="deleteGroceryItems();" value="Remove">
			</div>
			<div class = "col-xs-4 col-md-5">
				<input display="none" type="button" class = "btn btn-warning btn-lg" id="moveToInventory" onClick="moveGroceryItems();" value="Move to Inventory">
			</div>
			
			<div class = "col-xs-2 col-md-2">
			</div>
		</div>
		</div></br>



		<div id="groceryList"></div>
		

		<div class="alert alert-success" id="success-alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong>
    Item(s) moved to inventory
		</div>

		<div class="alert alert-success" id="delete-alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    Item(s) successfully <strong> deleted </strong> from grocery list
		</div>

  <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/grocery.js"></script>
</body>
</html>
