<html>
<head>
	<title>Home Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<h1>Home Page</h1>

		<!-- Headers -->
		<h5><a href="grocery"> Grocery List </a>
			<a href="inventory"> Inventory </a>
			<a href="mealplanning"> Meal Planning </a>
			<a href="calorietracking"> Calorie Tracker </a></h3>

		<h3> Content will go here eventually as a home screen </h3>
	</div>

	<script src="js/bootstrap.js"></script>
</body>
</html>
