<html>
<head>
	<title>Info</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/allpages.css" rel="stylesheet">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">

</head>
<body>

	<div class="container">
		<h3>Welcome!</h3>

		<h5> We noticed you've logged in for the first time. Please let us know a couple things about you so we can help you better! If any fields don't apply to you, you can simply leave them blank. You can also change these at any time in the user settings.</h5>
		</br>
		<form id="userForm">
			<h5> Do you have any intolerances? Some common intolerances are to gluten, dairy, and tree nuts. You can list several intolerances by putting a comma inbetween them. </h5>
			<input id="intolerances" type="text" placeholder="i.e. peanuts, shellfish...">
			<h5> Are you vegetarian, vegan, or on any other specific diet? </h5>
			<input id="diet" type="text" placeholder="i.e. vegan, vegetarian...">
			<h5> Are there are any other ingredients you don't want or like in your food? You can list these with a comma in between like above.</h5>
			<input id="dislikes" type="text" placeholder="i.e. garlic, onions...">
		</form>
		</br>
		<div class="wrapper">
			<a href="../grocery"><button id="continue" type="button" class="btn btn-success">Continue</button></a>
		</div>


	</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/info.js"></script>
</body>
</html>
