<html>
<head>
	<title>Info</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/allpages.css" rel="stylesheet">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">

</head>
<body>

	<div class="container">
		<h3>Welcome!</h3>

		<h5> We noticed you've logged in for the first time. Please let us know a couple things about you so we can help you better!</h5>

		<h5> Are you gluten free? </h5>
		<div>
			<input id="gluten" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-size="small">
		</div>

		<h5> Are you dairy free? </h5>
		<div>
			<input id="dairy" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-size="small">
		</div></br>
		<div class="wrapper">
			<a href="../grocery"><button id="continue" type="button" class="btn btn-success">Continue</button></a>
		</div>


	</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/info.js"></script>
</body>
</html>
