<html>
<head>
	<title>Inventory</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8">

	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/allpages.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<h1>Inventory</h1>

		<!-- Headers -->
		<h5><a href="/index">Go Home</a></h5>

		<div id="ingredientsList"></div></br>

		<!-- <ul>
			<li><a href="items/bananas"> Bananas </a>
				<form id='incdec' method='POST' action='#'>
    			<input type='button' value='-' class='minus' field='quantity' />
    			<input type='text' name='quantity' value='0' class='qty' />
    			<input type='button' value='+' class='plus' field='quantity' />
				</form>
			</li></br>
			<li> Milk
				<form id='incdec' method='POST' action='#'>
					<input type='button' value='-' class='minus' field='quantity' />
					<input type='text' name='quantity' value='0' class='qty' />
					<input type='button' value='+' class='plus' field='quantity' />
				</form>
			</li></br>
			<li> Eggs
				<form id='incdec' method='POST' action='#'>
					<input type='button' value='-' class='minus' field='quantity' />
					<input type='text' name='quantity' value='0' class='qty' />
					<input type='button' value='+' class='plus' field='quantity' />
				</form>
			</li>
		</ul></br> -->

		<div>
			<button> Add an item </button>
			<button> Modify an Item </button>
		</div>
	</br>

		<div id="footer">
			<p><a href="../grocery"> Grocery List </a>
				<a href="../inventory"> Inventory </a>
				<a href="../mealplanning"> Meal Planning </a>
				<a href="../calorietracking"> Calorie Tracker </a></p>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/ingredientsList.js"></script>
</body>
</html>
