<html>
<head>
	<title>Pantry</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8">

	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/allpages.css" rel="stylesheet">

</head>

<body>
	<!--Nav Bar -->
	<nav class="navbar navbar-default navbar-fixed-top">
	  		<div class="container-fluid">
	    		<div class="navbar-header">
	      			<a class="navbar-brand" href="../grocery">
	        			<img alt="Brand" src= "http://i.imgur.com/BVBZ0xt.png">
	        		</a>

	        		<a class="navbar-brand" href="../inventory">
	      				<img alt="Brand" src= "http://i.imgur.com/Xqd0GH3.png">
	      			</a>

	      			<a class="navbar-brand" href="../mealplanning">
	        			<img alt="Brand" src= "http://i.imgur.com/mTdmiOg.png">
	        		</a>

	    
				</div>
	  		</div>
		</nav>
	
	<div class="container">
		<div class="row">
		 	<div class="col-xs-9 col-md-8"><h4>My Pantry</h4></div>
		 	<div class="col-xs-3 col-md-4"><a href="" class="btn btn-success" role="button">+</a></div>
		</div>

		<ul class="list-group">
				<div id="inventoryList"></div>
			</ul>
			

		




		<!-- Button -->
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/inventory.js"></script>
</body>
</html>
