<html>
<head>
	<title>Make</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8">

	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/allpages.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="../grocery">
        			<img alt="Brand" src= "http://i.imgur.com/BVBZ0xt.png">
        		</a>

        		<a class="navbar-brand" href="../inventory">
      				<img alt="Brand" src= "http://i.imgur.com/vq0fdZ0.png">
      			</a>

      			<a class= "navbar-brand" href="../mealplanning">
        			<img alt="Brand" src= "http://i.imgur.com/KiLHqPy.png">
        		</a>
			</div>
  		</div>
	</nav>

	<h3 align="center">Recipe Making</h3>
	<div class="container" id="main-div">
	</div>
	<div id="instructions">
		<h5 id="instructions-block"> Instructions: </h5>
	</div>
	<div id="alignMe">
		<button id="imDone" align="center" type="button" class="btn btn-success">
			I'm Done!
		</button>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/make.js"></script>

</body>
</html>
