<html>
<head>
	<title>Meal Planning</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<h1>Meal Planning</h1>
		<!-- Headers -->
		<h5><a href="/index">Go Home</a></h5>

		<div class="row">
			<div class="col-xs-12 col-md-12" id = "meal">
				<div class = "pull-right">
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Sort By: Rating <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a href="#">Difficulty</a></li>
					    <li><a href="#">Available Ingredients</a></li>
					    <li><a href="#">Time</a></li>
					  </ul>
					</div>
				</div>
			</div>

			<br>
			<br>


  			<div class="col-xs-6 col-md-4" id = "meal">
  				<div class = "thumbnail">
  						<div class = "mealImage">
		  					<img src = "http://girlandthekitchen.com/wp-content/uploads/2016/11/One-Pot-Creamy-Mac-and-Cheese-6-of-8.jpg"" class="img-responsive center-block" alt="Responsive image">
		  				</div>
		  				<h3> Mac and Cheese</h3>
  				</div>
  			</div>


  			<div class="col-xs-6 col-md-4" id = "meal">
  				<div class = "thumbnail">
  					<div class = "mealImage">
  						<img src="http://www.seriouseats.com/images/2015/07/20150728-homemade-whopper-food-lab-00.jpg" class="img-responsive center-block" alt="Responsive image">
  					</div>
  					<h3>Whopper</h3>
 				</div>
			</div>

  			<div class="col-xs-6 col-md-4" id = "meal">
  				<div class = "thumbnail">
  					<div class = "mealImage">
  						<img src="http://mayakitchenette.com/wp-content/uploads/2015/05/Homemade-Subway-Sandwich-7.jpg" class="img-responsive" alt="Responsive image">
  					</div>
  					<h3>5 Dollar FootLong</h3>
 				</div>
			</div>

		</div>




	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
</body>
</html>
