<html>
<head>
	<title>Meal Planning</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/allpages.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="../grocery">
        			<img alt="Brand" src= "http://i.imgur.com/BVBZ0xt.png">
        		</a>

        		<a class="navbar-brand" href="../inventory">
      				<img alt="Brand" src= "http://i.imgur.com/vq0fdZ0.png">
      			</a>

      			<a class= "navbar-brand" href="../mealplanning">
        			<img alt="Brand" src= "http://i.imgur.com/KiLHqPy.png">
        		</a>
			</div>
  		</div>
	</nav>

	<h3 align="center">Find A Recipe</h3>
	<div class="container" id="main-div">
		<p id="userName">
		</p>
		<h5><strong> In a word or two, what you'd like to eat today? </strong></h5>
		<input id="query" type="text" placeholder="i.e. burger, sandwich, ...">
	</br></br>
		<h5> Note: the following questions are all optional. </h5>
		<h5> Recipe difficulty? Leave as "Normal" if no preference.</h5>
		<label class="radio-inline"><input type="radio" name="diff" value="0">Easy</label>
		<label class="radio-inline"><input checked type="radio" name="diff" value="1">Normal</label>
		<label class="radio-inline"><input type="radio" name="diff" value="2">Hard</label>
		<h5> Specific cuisine? </h5>
		<input id="cuisine" type="text" placeholder="i.e. american, indian, ...">
		<h5> Calorie Limit?</h5>
		<input id="calories" type="text" placeholder="i.e. 1200">
		<h5> Cravings for any specific ingredients? Have multiple with commas in between. </h5>
		<input id="ingredients" type="text" placeholder="i.e. lettuce, pickles, ...">
		<div class="wrapper" id="padding123">
			<button id="go" type="button" class="btn btn-success">Go</button>
		</div>
	</div>
	<div align="center" id="afterContainer"></div>
	<div align="center" id="nextRecipe">
		<div id="paddingTest">
			<button id="nextRecipeButton" align="center" display="none" type="button" class="btn btn-default">
				New Recipe
			</button>
		</div>
		<div>
			<button id="startOver" align="center" display="none" type="button" class="btn btn-warning">
				Start Over
			</button>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/mealC.js"></script>

</body>
</html>
