<html>
<head>
	<!-- Google Analytics Content Experiment code -->
	<script>function utmx_section(){}function utmx(){}(function(){var
	k='142228813-1',d=document,l=d.location,c=d.cookie;
	if(l.search.indexOf('utm_expid='+k)>0)return;
	function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
	indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
	length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
	'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
	'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
	'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
	valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
	'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script>
	<!-- End of Google Analytics Content Experiment code -->



	<title>Recipe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/allpages.css" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="../grocery">
        			<img alt="Brand" src= "http://i.imgur.com/jCyrAuq.png">
        		</a>

        		<a class="navbar-brand" href="../inventory">
      				<img alt="Brand" src= "http://i.imgur.com/syZdxMQ.png">
      			</a>

      			<a class= "navbar-brand" href="../mealplanning">
        			<img alt="Brand" src= "http://i.imgur.com/nddBSj3.png">
        		</a>

        		<a class="navbar-brand" href="../calorietracking">
        			<img alt="Brand" src= "http://i.imgur.com/eSySeun.png">
        		</a>
			</div>
  		</div>
	</nav>


	<div class="container">
    <div id ="recipeBody"></div>
	</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/recipe.js"></script>
</body>
</html>
