
.addForm {
  display: table;
}

.formControl {
  display: table-cell;
}

.tobuy {
  float: right;
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}

#incdec {
    text-align: center;
    float: right;
    padding: 5px;
    margin: 0%;
    width: 17%;
}

#moveToInventory {
  display: none;
}


input.plus { width:25px; height:25px;}
input.minus { width:25px; height:25px;}
